:root {
    --app-width: 40vmin;
}

html { 
    background: url(./images/bg_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    height: 100vh;
    /* height: 100svh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #976ee4a4;
}

a:hover, a:active {
    color: #ee93c5;
}


.container {
    display: flex;
    flex-direction: column;
    height: 62vmin;
    width: var(--app-width);
}

.calc-wrapper {
    flex: 8;
    display: flex;
    align-items: center;
}


/* ------------------- D I S P L A Y ----------------- */

.display-wrapper {
    flex: 1;
    background-image: linear-gradient(to left top, 
        #856d85, #af7388, #b17f7a, 
        #b6895a, #b4af84, #77b69d);
    border-radius: 1vmin 1vmin 0 0;
    box-shadow: inset 0.3vmin 0.3vmin 0.3vmin rgba(255, 255, 255, 0.507),
                inset -0.3vmin -0.2vmin 0.3vmin rgba(0, 0, 0, 0.299);
}

.display {
    height: 8vmin;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 2vmin;
    padding: 0.5vmin 1vmin;
    font-family: 'Big Shoulders Display', sans serif;
    font-size: 5vmin;
    background-color: grey;
    box-shadow: inset 0.3vmin 0.3vmin 0.3vmin rgba(0, 0, 0, 0.299);
    position: relative;
}

.err {
    position: absolute;
    top: center;
    right: 2%;
    width: 95%;
    height: 85%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.visible {
    opacity: 1;
}

.small-text{
    font-size: 3vmin;
}

.half {
    opacity: 0.3;
}

.cursor {
    opacity: 0;
}

.blinking {
    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}


/* ------------------- B U T T O N S ----------------- */

.buttons-container {
    flex: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 1vmin 0;   
    background-image: linear-gradient(to left bottom, 
                                         #d3aed3, #f3a0bf,
                                          #fdb5af, #ffc281, #fff5b7, #a5fdd8);

    border-radius: 0 0 1vmin 1vmin;
    box-shadow: inset 0.6vmin 0vmin 0.3vmin -0.3vmin rgba(255, 255, 255, 0.507),
                inset -0.2vmin -0.3vmin 0.3vmin rgba(0, 0, 0, 0.699);
}

button {
    width: 8.5vmin;
    height: 8.5vmin;
    border-radius: 0.8vmin;
    border: 0;
    margin: 0.5vmin;
    color: #4e409c;
    font-size: 3vmin;
    box-shadow: inset 0.2vmin 0.2vmin 0.3vmin rgba(255, 255, 255, 0.707),
                inset -0.2vmin -0.2vmin 0.3vmin rgba(0, 0, 0, 0.399);
    text-shadow: 0.2vmin 0.1vmin 0.2vmin rgba(245,245,245,0.7); 
}

#del {
    width: 18vmin;
    text-align: end;
    padding-right: 2vmin;
}

/* -------------- buttons color----------------- */

button:active {
    color:#77b69d;
}

button:focus-visible {
    outline: none;
    color:#77b69d;
}

#fpoint,
#sign, 
#clear,
#del,
#equal { 
    background-color: #e3e2e7;
}

.num {
    font-size: 4vmin;
    background-color: #e3e2e7;
 }

.op {
    background-color: #d1d0da; 
    color: #d1985b;   
}

.active {
    color:#77b69d;
}

/* ------------------- C R E D I T S ----------------- */

.credits {
    flex: 1;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* width: 15vmin; */
    margin-bottom: 6vmin;
}


.s-button {
    box-shadow: 0 0 1vmin hsla(0, 0%, 100%, 0.550);
    height: 6vmin;
    width: 6vmin;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: normal;
    font-family: 'Fredoka One', cursive;
    font-size: 3.5vmin;
    text-shadow: none;
    
    padding-top: 4%;
    background-color: transparent;
    color: white;

    position: relative;
    transition: box-shadow 500ms, background-color 500ms, color 500ms;

}




.s-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background-color: white;
    top: 80%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(2.5vmin) rotateX(50deg) scale(0.9, 0.4);
    filter: blur(1.8vmin);
    opacity: 0.1;
    transition: background-color 200ms linear, opacity 300ms;
}


.s-button:hover,
.s-button:focus-visible  {
    box-shadow: 0 0 2vmin #76fac56b,
                0 0 4vmin #76fac5af;
    color:  #a5fdd8;
    text-shadow: 0 0 0.15vmin #ebfdf6d8;
    transition: 200ms linear;
}

.s-button:hover::before,
.s-button:focus-visible::before {
    opacity: 1;
    background-color: #55ffbba4;
    transition: background-color 200ms, opacity 300ms;
}

.sources {
    position: relative;
}


.s-content {
    position: absolute;
    top: -0.1vmin;
    left: 50%;
    width: 0;
    height: 0vmin;
    width: 0vmin;
    font-size: 0;
    overflow: hidden;
    text-align: center;
    transition: 500ms;

}

.s-content-popup {
    top: -11vmin;
    left: calc(50% - calc(var(--app-width) / 2));

    width: 40vmin;
    height: 9vmin;
    font-size: 1.8vmin;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f2fa;
    border: 1px solid white;
    border-radius: 0.3vmin;
    line-height: 3vmin;
}


.github-icon {
    height:2.5vmin;
}


/* ---------------------- M E D I A ------------------ */

@media screen and (orientation: portrait) {
    .container {
        width: calc(var(--app-width) * 2);
        height: 124vmin;
    }

    .display-wrapper {
        border-radius: 2vmin 2vmin 0 0;
        box-shadow: inset 0.6vmin 0.6vmin 0.6vmin rgba(255, 255, 255, 0.507),
                    inset -0.6vmin -0.6vmin 0.6vmin rgba(0, 0, 0, 0.299);
    }

    .display {
        height: 16vmin;
        margin: 4vmin;
        padding: 1vmin 2vmin;
        font-size: 10vmin;
        box-shadow: inset 0.6vmin 0.6vmin 0.6vmin rgba(0, 0, 0, 0.299);
    }
    
    .small-text{
        font-size: 6.3vmin;
    }

    .buttons-container {
        padding: 2vmin 0;  
        border-radius: 0 0 2vmin 2vmin;
        box-shadow: inset 1.2vmin 0vmin 0.6vmin -0.6vmin rgba(255, 255, 255, 0.507),
                    inset -0.4vmin -0.6vmin 0.6vmin rgba(0, 0, 0, 0.699); 
    }
    
    button {
        width: 17vmin;
        height: 17vmin;
        margin: 1vmin;
        font-size: 6vmin;
        border-radius: 1.6vmin;
        box-shadow: inset 0.4vmin 0.4vmin 0.6vmin rgba(255, 255, 255, 0.707),
                    inset -0.4vmin -0.4vmin 0.6vmin rgba(0, 0, 0, 0.399);
        text-shadow: 0.4vmin 0.2vmin 0.4vmin rgba(245,245,245,0.7); 
    }
    
    #del {
        width: 36vmin;
        padding-right: 4vmin;
    }    

    .num {
        font-size: 8vmin;
     }

     .credits {
        margin-bottom: 12vmin;
     }


     .s-button {
        height: 12vmin;
        width: 12vmin;
    }

 
    .s-button::before {
        transform: perspective(5vmin) rotateX(50deg) scale(0.9, 0.4);
        filter: blur(3.6vmin);
    }
    

    .s-button:hover,
    .s-button:focus-visible {
        box-shadow: 0 0 2vmin #76fac56b,
                    0 0 8vmin #76fac5af;
        text-shadow: 0 0 0.3vmin #ebfdf6d8;
        
    }

    .s-button {
        font-size: 7vmin;
    }
    
    .s-content {
        top: 0vmin;
    }
    
    .s-content-popup {
        top: -22vmin;
        width: calc(var(--app-width) * 2);
        left: calc(50% - var(--app-width));
        height: 18vmin;
        font-size: 3.6vmin;
        border-radius: 0.6vmin;
        line-height: 6vmin;

    }

    .github-icon {
        height:5vmin;
    }
}






